.debug{
    border: 1px solid black;
}
.bg_blu{
    background-color:#2C3E50 ;
    height: 80px;

}
.bg_green{
    background-color:#1ABC9C ;

}
.bg_grey{
    background-color: #3A546D;
}

.container-wrap{
    width: 80%;
    margin: 0 auto;
}

.debug-height{
    height: 600px;
}
.container_wrap img{
    width: 150px;
    height: 150px;
}

