.debug{
    border: 1px solid black;
}
.bg_blu{
    background-color:#2C3E50 ;
    

}
.bg_green{
    background-color:#1ABC9C ;

}
.bg_grey{
    background-color: #3A546D;
}

.container_wrap{
    width: 80%;
    margin: 0 auto;
}

.debug-height{
    height: 600px;
}
.container_wrap img{
    width: 150px;
    height: 150px;
}
.container_wrap_70{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 80px;
}

footer{
    height: 200px;
}


footer .container_wrap{
    height: 120px;
}
.footer_bottom{
    height:80px ;
}
img{
    width: 100%;
}